.About {
  text-align: center;
}

.hilary-lewis-image {
  margin-top: $top-margin;
  height: 250px;
  border-radius: 50%;
  opacity: 0;
}

.about-me {
  text-align: left;
  width: 70%;
  opacity: 0;
}

/*experience*/
.experience-list {
  width: 70%;
  float: left;
}

.single-experience{
  padding: $main-padding 0;
  width: 90%;
  border-bottom: 1px solid $blue-color;
}

/*skills*/
.single-skill{
  padding: 12px;
}

/*education*/
.education {
  padding: $main-padding 0px;
}

.education-school {
  padding-top: $main-padding;
}

/*about this website*/
.about-website {
  padding-top: $main-padding;
}
.underline {
  text-decoration: underline;
  font-size: $body-font-size;
  &:hover {
    text-decoration: underline;
  }
}

/*resume page*/
// .Resume {
//   text-align: center;
//   letter-spacing: $letter-spacing;
// }
