.contact-section {
  width: 60%;
  margin: auto;
  text-align: center;
  opacity: 0;
  margin-top: $top-margin;
}

.contact-email {
  font-size: 30px;
  padding: $main-padding;
}

.contact-summary{
  padding: $main-padding;
}
