.Footer {
  background-color: none;
  bottom: 0;
  margin: 10px $main-margin;
  opacity: 0;
  position: fixed;
  right: 0;
  z-index: 100000000;
  @media screen and (max-width: $break-small) {
    margin: 5px $small-margin;
  }
}

.single-contact {
  display: inline-block;
  padding-left: 4px;
}

.mail, .linkedin, .github, .twitter {
  height: $icon-size;
  width: $icon-size;
  @include transition($transition-duration ease-in-out);
}

.mail{
  background: url('../images/mail.png') no-repeat;
}

.mail:hover {
  background-image: url('../images/mail-hover.png');
}

.linkedin {
  background: url('../images/linkedin.png') no-repeat;
}

.linkedin:hover {
  background-image: url('../images/linkedin-hover.png');
}

.github {
  background: url('../images/github.png') no-repeat;
}

.github:hover {
  background-image: url('../images/github-hover.png');
}

.twitter {
  background: url('../images/twitter.png') no-repeat;
}

.twitter:hover {
  background-image: url('../images/twitter-hover.png');
}
