h1 {
  font-family: $title-font-stack;
  font-size: $hero-title-font-size;
  color: $dark-blue-color;
  line-height: 120%;
  @media screen and (max-width: $break-large) {
    font-size: $hero-title-font-size*.7;
  }
  @media screen and (max-width: $break-medium) {
    font-size: $hero-title-font-size*.5;
  }
}

h2 {
  font-family: $title-font-stack;
  font-size: $title-font-size;
  color: $dark-blue-color;
  padding: $main-padding;
  text-align: center;
  @media screen and (max-width: $break-small) {
    font-size: $medium-title-font-size;
  }
}

h3 {
  color: $dark-blue-color;
  font-family: $title-font-stack;
  font-size: $medium-title-font-size;
  @media screen and (max-width: $break-small) {
    font-size: $small-title-font-size+5px;
  }
}

h4 {
  color: $blue-color;
  font-family: $title-font-stack;
  font-size: $small-title-font-size;
}

h5 {
  color: $blue-color;
  font-family: $title-font-stack;
  font-size: 15px;
  padding: $small-padding 0px;
}

h6 {
  color: $gray-color;
  font-family: $title-font-stack;
  font-size: 15px;
}

p {
  font-family: $body-font-stack;
  font-size: $body-font-size;
  line-height: $body-line-height;
  color: $blue-color;
  padding-bottom: $main-padding;
}

a {
  font-family: $link-font-stack;
  font-size: $link-font-size;
}

button {
  font-family: $button-font-stack;
  font-size: $button-font-size;
}
