*, html {
  background-color: $white-color;
  letter-spacing: 2px;
  font: 100% $font-stack;
}

body {
  font: 100% $font-stack;
}

a {
  color: $gray-color;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}

a:hover {
  color: $dark-blue-color;
  text-decoration: none;
}

.active {
  color: $blue-color;
}
