*, html {
  background-color: white;
  letter-spacing: $letter-spacing;
  // font: 100% $font-stack;
  font: 100% $second-font-family;
}

body {
  font: 100% $font-stack;
}

a {
  color: $dark-blue-color;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}

a:hover {
  color: $red-color;
  text-decoration: none;
}

.button {
  font-size: $button-font-size;
  border: 2px solid;
  padding: 10px;
  border-radius: 50px;
}

*:focus {
  outline: none;
}
