.Footer {
  opacity: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
}

.single-contact {
  display: inline-block;
  margin-top: 10vh;
  padding: 2px
}

.single-contact:hover {
  cursor: pointer;
  transition-duration: 1s ease-in-out;
}

.mail {
  width: $icon-size;
  height: $icon-size;
  display: block;
  background: url('../images/mail.png') no-repeat;
}

.mail:hover {
  background-image: url('../images/mail-hover.png');
}

.linkedin {
  width: $icon-size;
  height: $icon-size;
  display:block;
  background: url('../images/linkedin.png') no-repeat;
}

.linkedin:hover {
  background-image: url('../images/linkedin-hover.png');
}

.github {
  width: $icon-size;
  height: $icon-size;
  display:block;
  background: url('../images/github.png') no-repeat;
}

.github:hover {
  background-image: url('../images/github-hover.png');
}

.twitter {
  width: $icon-size;
  height: $icon-size;
  display:block;
  background: url('../images/twitter.png') no-repeat;
}

.twitter:hover {
  background-image: url('../images/twitter-hover.png');
}
