.Home {
  height: 100vh;
}

.hero-text {
  position: absolute;
  bottom: 0;
  opacity: 0;
  margin: 10px;
}

h3 {
  font-size: 30px;
  letter-spacing: 2px;
  color: $dark-blue-color;

  // color: $gray-color;
}

.bold {
  color: $dark-blue-color;
  font-weight: 700;
}
