.Nav {
  letter-spacing: $letter-spacing;
  color: $gray-color;
  font-size: 25px;
}

.hl-logo {
  background: url('../images/icon.png') no-repeat;
  width: 60px;
  height: 60px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  margin: 20px;
  transition: 1s;
}

.hl-logo:hover {
  transition: 1s;
  cursor: pointer;
  background-image: url('../images/icon-hover.png');
}

/*dropdown*/
.Dropdown {
  width: 100vw;
  height: 100vh;
}

.hamburger-menu {
  z-index: 1000000;
  margin: 30px;
}

.hamburger-menu:hover {
  cursor: pointer;
  opacity: 1;
}

.menu {
  position: fixed;
  z-index: 100;
  text-align: center;
}

.menu li {
  display: block;
  padding-top: 15vh;
  background: white;
  font-size: 30px;
}
