.Projects {
  letter-spacing: $letter-spacing;
  color: $dark-blue-color;
  text-align: center;
  margin: 50px;
  opacity: 0;
  position: absolute;
}

/*list of projects*/
.projects-title {
  margin: 50px auto;
  font-size: $title-font-size;
}

.projects-list {
  width: 90vw;
  margin: auto;
  height: 100%;
}

/*single projects*/
.single-project {
  box-shadow: 0px 0px 5px $gray-color;
  width: 30%;
  margin: 10px;
  transition: left 0.5s;
  padding: 5px;
}

.single-project:hover {
  box-shadow: 0px 0px 10px black;
  cursor: pointer;
  transition: 0.5s;
}

@media (max-width: 1000px) {
  .projects-list {
    width: 100vw;
  }
}

@media (max-width: 892px) {
  .projects-list {
    width: 60vw;
    margin: auto;
  }

  .single-project {
    width: 100%;
    margin: 0 0 10px 0;
  }
}

@media (max-width: 500px) {
  .projects-list {
    width: 80vw;
  }
  .projects-title {
    font-size: 35px;
  }
}

.project-image {
  width: 100%;
}

/*individual project*/
.individual-project {
  width: 100vw;
  height: 100vh;
  opacity: 0;
  position: absolute;
}

.project-left {
  width: 50%;
  display: inline-block;
  float: left;
  // height: 80%;
}

.individual-project-image {
  width: 450px;
  margin: 150px 50px 0 50px;
  border: 5px solid $gray-color;
}

.project-right {
  letter-spacing: $letter-spacing;
  color: $dark-blue-color;
  font-size: $p-font-size;
  line-height: 170%;
  // height: 50%;
}

.project-title {
  font-size: $title-font-size;
  line-height: 110%;
  margin: 150px 30px 5px 0;
}

.project-description {
  margin: 0px 50px 150px 20px;
}

.project-url, .project-github {
  display: block;
  letter-spacing: $letter-spacing;
  font-size: $p-font-size;
  height: 40px;
  width: 100%;
  margin-left: 55px;
}

.project-button-section {
  text-align: center;
  opacity: 1;
  position: relative;
}


@media (max-width: 1030px) {
  .individual-project {
    width: 100vw;
    text-align: center;
    height: 100%;
  }
  .individual-project-image {
    width: 560px;
    margin-bottom: 10px;
  }
  .project-url, .project-github {
    display: block;
    height: 40px;
    width: 100%;
    margin: 0px;
  }
  .project-left {
    width: 100%;
    height: 100%;
    margin: auto;
  }
  .project-right {
    width: 80%;
    height: 100%;
    margin: auto;
    text-align: left;
  }
  .project-title {
    margin: auto;
  }
  .project-description {
    height: 100%;
    margin: auto;
  }
  .project-button-section {
    margin: auto;
    text-align: center;
  }
}
