$dark-blue-color: #2C3E50;
$blue-color: #34495E;
$gray-color: #BDC3C7;
$white-color: #ECF0F1;

$font-stack: Helvetica, sans-serif;

$p-font-size: 20px;
$small-p-font-size: 15px;
$title-font-size: 50px;
$small-title-font-size: 35px;


$letter-spacing: 2px;
$button-font-size: 15px;
